<div class="flex flex-col justify-between h-dvh bg-sky-950 py-[30px]" [ngClass]="isShowSideBar ? 'w-100' : 'w-[14rem]'">
  <div class="relative">
    <div class="bg-sky-900 rounded w-5 h-5 absolute -left-2 top-1" (click)="isShowSideBar=!isShowSideBar">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left text-slate-100" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
      </svg>
    </div>
    <div class="w-[3rem] h-[3rem] bg-slate-700 rounded-full mx-[15px]"></div>
    <div class="p-[15px]">
      <ul>
        <li [routerLink]="['/product']" routerLinkActive="router-link-active" >Title</li>
        <li>Title</li>
        <li>Title</li>
        <li>Title</li>
        <li>Title</li>
      </ul>
    </div>
  </div>

  <div>03</div>
</div>
